<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>

    <add name="DBCloud"
         connectionString="Server=DESKTOP-RFIAQI4\SQLEXPRESS;Database=AgendaDB;Integrated Security=True; TrustServerCertificate=True"
         providerName="System.Data.SqlClient" />

  </connectionStrings>
</configuration>